@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    max-width: 1536px;
    font-family: "Inter", sans-serif;
}


.star-svg {
    display: inline-block;
  }

  .react-multi-carousel-dot--active button{
    background:#FFC637;
    border:none
  }

  